log
conf
ckpt
bazel-*
compile_commands.json
tools/actions
third_party/bazel
*.pyc
.tf_configure.bazelrc
tools/python_bin_path.sh
*.pb.h
*.pb.cc
*.user
*.VC.db
*.VC.VC.opendb
.vs
x64
x86
Release
Debug
.clang
